.appBody {
    display: flex;
    justify-content: center;
}

.title {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 45px;
    color: #b08bd3;
    background-color: #f1c40f;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.2; /* Adjust the line-height for vertical centering */
    
}